## Visual Studio / .NET Gitignore
## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][In][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache / temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.launchsettings.json

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
